rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /athletes/{id} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['name','pin','active'])
                    && request.resource.data.name is string
                    && request.resource.data.pin is string
                    && request.resource.data.active is bool;
      allow update: if request.resource.data.name is string;
      allow delete: if false;
    }

    match /checkins/{id} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['athleteId','athleteName','date','timestamp'])
                    && request.resource.data.athleteId is string
                    && request.resource.data.date is string;
      allow update, delete: if false;
    }

    match /config/{doc} {
      allow read: if true;
      allow write: if request.resource.data.keys().hasOnly(['staffPin','weeklyTarget'])
                   && request.resource.data.staffPin is string;
    }

    match /bookings/{id} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['athleteId','athleteName','date','slot','bookedAt'])
                    && request.resource.data.athleteId is string
                    && request.resource.data.date is string
                    && request.resource.data.slot in ['morning','lunch','evening'];
      allow update, delete: if false;
    }
  }
}
